/**
 *  //css/base.css
 */
body {padding:0;margin:0;}
body article,
body header {width:99%;height:40px;background-color:#fefefe;margin-bottom:1.2em;}
body section {padding:0 1.2em;}
a {text-decoration:none;}

label {display:inline-block; /* ensure label and contents do not wrap */}
ul {padding:0;margin:0;}

.ja-btn {
  cursor:pointer;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  border:none !important;
}
.ja-btn.ja-close {float:right;}

.ja-btn em {
  background-image:url(/css/img/btn-sprite.png);
  display:inline-block;
  cursor:pointer;
  vertical-align:-0.185em;
  margin-left:0.185em;
  height:16px;
  width:16px;
}

.ja-add    em {background-position: 0px 0px;}
.ja-remove em {background-position: 0px -20px;}
.ja-find   em {background-position: 0px -40px;}
.ja-close  em {background-position: 0px -60px; border: none;}
.ja-min    em {background-position: 0px -80px;}
.ja-max    em {background-position: 0px -100px;}
.ja-right  em {background-position: 0px -120px;}
.ja-left   em {background-position: 0px -140px;}
.ja-next   em {background-position: 0px -120px;}
.ja-prev   em {background-position: 0px -140px;}
.ja-up     em {background-position: 0px -160px;}
.ja-down   em {background-position: 0px -180px;}
.ja-info   em {background-position: 0px -200px;}
.ja-lock   em {background-position: 0px -220px;}
.ja-unlock em {background-position: 0px -240px;}
.ja-vert   em {background-position: 0px -260px;}
.ja-hort   em {background-position: 0px -280px;}
.ja-redo   em,
.ja-reset  em {background-position: 0px -300px;}
.ja-help   em {background-position: 0px -320px;}
.ja-save   em {background-position: -20px 0px;}
.ja-edit   em {background-position: -20px -20px;}
.ja-stop   em {background-position: -20px -40px;}
.ja-halt   em {background-position: -20px -60px;}
.ja-tick   em {background-position: -20px -80px;}
.ja-person em {background-position: -20px -100px;}
.ja-dup    em {background-position: -20px -280px;}
.ja-rep    em {background-position: -20px -300px;}
.ja-eye    em {background-position: -20px -320px;}


