<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="report.css">
</head>
<body>

<h1>SUMMARY</h1>
<h2><u>IMPORTANT DISCLAIMER</u></h2>
<b><ul>
<li>This Summary is supplied to allow a quick and superficial overview of the inspection results.</li>
<li>This Summary is NOT the Report and cannot be relied upon on its own.</li>
<li>This Summary must be read in conjunction with the full Report not in isolation from the Report.</li>
<li>If there should happen to be any discrepancy between anything in the Report and anything in this Summary, the information in the Report shall override that in this Summary.</li>
<li>The Report is subject to conditions and limitations. Your attention is particularly drawn to the Clauses, Disclaimer of Liability to Third Parties at the back of this Report.</li>
</ul></b>
<h3><u>ACCESS</u></h3>
Are there any Area(s) and/or Section(s) to which Access should be gained: <b><merge>YES</merge> read full report</b> 
<h3><u>TIMBER PEST ACTIVITY</u></h3>
Were active Subterranean termites (live specimens) found: <b><merge>NO</merge> read full report</b>
<br/><br/>
Was visible evidence of Subterranean termite workings or damage found: <b><merge>YES</merge> read full report</b>
<br/><br/>
Was visible evidence of borers of seasoned timbers found: <b><merge>NO</merge> read full report</b>
<br/><br/>
Was visible evidence of damage caused by wood decay (rot) fungi found: <b><merge>YES</merge> read full report</b>
<br/><br/>
Were any major safety hazards found?: <b><merge>NO</merge> read full report</b>
<br/><br/>
In our opinion, the susceptibility of this property to timber pests is considered to be: <b><merge>High</merge>. Read full report</b>
<br/><br/>
<b><u>Important</u>: We strongly recommend the purchaser make inquiry from the vendor about Timber Pests and in particular Termites for this property.
<br/><br/>
<div style="text-align:center">For complete and accurate information You must refer to the following complete Visual Timber Pest Report.</div></b>


</body>
</html>

