<div class="jak-rep-1">
  <h1>SUMMARY</h1>
  <h2>IMPORTANT DISCLAIMER</h2>
  <ul>
    <li>This Summary is supplied to allow a quick and superficial overview of the inspection results.</li>
    <li>This Summary is NOT the Report and cannot be relied upon on its own.</li>
    <li>This Summary must be read in conjunction with the full Report not in isolation from the Report.</li>
    <li>If there should happen to be any discrepancy between anything in the Report and anything in this Summary, the information in the Report shall override that in this Summary.</li>
    <li>The Report is subject to conditions and limitations. Your attention is particularly drawn to the Clauses, Disclaimer of Liability to Third Parties at the back of this Report.</li>
  </ul>
  <h3>ACCESS</h3>
  <p>Are there any Area(s) and/or Section(s) to which Access should be gained: <b><%= this.G1 %></b> read full report</p>
  <h3>TIMBER PEST ACTIVITY</h3>
  <p>Were active Subterranean termites (live specimens) found: <b><%= this.G2 %></b> read full report</p>
  <p>Was visible evidence of Subterranean termite workings or damage found: <%= this.G3 %> read full report</p>
  <p>Was visible evidence of borers of seasoned timbers found: <%= this.G4 %> read full report</p>
  <p>Was visible evidence of damage caused by wood decay (rot) fungi found: <%= this.G5 %> read full report</p>
  <p>Were any major safety hazards found?: <b><%= this.G17 %></b> read full report</p>
  <p>In our opinion, the susceptibility of this property to timber pests is considered to be: <b><%= this.G18 %></b>. Read full report</p>
  <p>Important: We strongly recommend the purchaser make inquiry from the vendor about Timber Pests and in particular Termites for this property.</p>
  <p class="jak-center">For complete and accurate information You must refer to the following complete Visual Timber Pest Report.</p>
</div>