# editor backup files
# some editors leave backup files file.type~ with a ~ suffix
*~
*.bak

# symbolic links
# link to enable cross domain calls

# Logs
*.log

# temporary and miscellaneous files
*.tmp
*.temp
