/** /css/pod/address.css
 *
 */
.jak-pod-address .jak-close {float:right;}

.jak-pod-address .jak-data-streetRef,
.jak-pod-address .jak-data-locationName {width:15em;}
.jak-pod-address .jak-data-streetName   {width:12em;}
.jak-pod-address .jak-data-streetRef    {width:4em;}
