/** /css/pod/address.css
 *
 */
.ja-pod-address .ja-close {float:right;}

.ja-pod-address .ja-data-streetRef,
.ja-pod-address .ja-data-locationName {width:15em;}
.ja-pod-address .ja-data-streetName   {width:12em;}
.ja-pod-address .ja-data-streetRef    {width:4em;}
