/** //css/pod/job.css
 *
 */
.ja-pod-job .ja-close,
.ja-pod-job .ja-save {float:right;font-weight:bold;font-size:1.2em;}
.ja-pod-job .yui3-widget-bd {overflow:hidden;}/*containment*/

.ja-pod-job legend {height:2em;}

.ja-pod-job ul {list-style-type:none;}
.ja-pod-job li {line-height:2em;}
.ja-pod-job li:nth-child(odd) {background:#ddd;}

.ja-pod-job .ja-focus {font-weight:bold;color:#08088A;background-color:#DDF6CE !important;}
.ja-pod-job a.ja-btn.ja-info > span {font-size:0.8em;font-weight:bold;color:#8A0808;}
.ja-pod-job .ja-actions {float:right;}

/*job*/
.ja-pod-job .ja-data-id,
.ja-pod-job .ja-data-ref {width:2.5em;}
.ja-pod-job .ja-data-jobService-fee {width:4em;}

/*answer*/
.ja-pod-job .ja-section-answer {float:left;width:35em;}
.ja-pod-job .ja-section-answer li {line-height:auto;} /*override*/

/*propPart*/
.ja-pod-job .ja-section-propPart {float:left;}
.ja-pod-job .ja-section-propPart li .ja-data-propPartTypeName {float:left;width:11em;overflow:hidden;}
.ja-pod-job .ja-section-propPart li .ja-data-name {width:7em;font-size:0.8em;}
.ja-pod-job .ja-section-propPart li .ja-data-component {font-size:0.8em;}

/*propPartAnswer*/
.ja-pod-job .ja-section-propPartAnswer {float:left;width:4em;}
