/** /css/pod/job.css
 *
 */
.jak-pod-job .jak-close,
.jak-pod-job .jak-save {float:right;}

.jak-pod-job .yui3-widget-bd {overflow:hidden;}

.jak-pod-job li:nth-child(odd) {background:#ddd;}

.jak-pod-job .jak-address {display:inline-block;width:20em;float:left;height:3em;}
.jak-pod-job .jak-data-id  {width:3em;}
.jak-pod-job .jak-data-ref {width:4em;}

.jak-pod-job .jak-data-propPart-name {width:8em;}

.jak-pod-job a.jak-btn.jak-info > span {font-size:0.8em;font-weight:bold;color:#8A0808;}

.jak-pod-job .jak-section-propPart {clear:both;float:left;}
.jak-pod-job .jak-section-propPartAnswer {float:left;width:4em;}

.jak-pod-job ul {list-style-type:none;}

.jak-pod-job .jak-focus {font-weight:bold;color:#08088A;background-color:#DDF6CE !important;}

.jak-pod-job .jak-data-jobService-fee {width:4em;}

.jak-pod-job li {line-height:1.6em;}
.jak-pod-job li.jak-focus {line-height:1.8em;font-weight:bold;color:#08088A;}
.jak-pod-job li .jak-data-propPartType-name {width:11em;display:inline-block;}
.jak-pod-job li .jak-data-name {width:9em;}
.jak-pod-job li .jak-add,
.jak-pod-job li .jak-remove,
.jak-pod-job li .jak-dup {float:right;}
.jak-pod-job li .jak-remove {clear:both;}
