/** /css/widget/calendar.css
 *
 */

#jak-calendar .jak-date {width:7em;}

#jak-calendar .yui3-calendar, #jak-calendar {
  position:absolute;
  top:30px;
  left:30px;
  z-index:99999999;
  width:20em;
}

#jak-calendar .jak-calendar-time {width:17em;margin:0 auto;}

#jak-calendar .yui3-calendar-pane {clear:both;}
