/** /css/widget/calendar.css
 *
 */

#ja-calendar .ja-date {width:7em;}

#ja-calendar .yui3-calendar, #ja-calendar {
  position:absolute;
  top:30px;
  left:30px;
  z-index:99999999;
  width:20em;
}

#ja-calendar .ja-calendar-time {width:17em;margin:0 auto;}

#ja-calendar .yui3-calendar-pane {clear:both;}
