/** /css/widget/schedule.css
 *
 */
.ja-schedule {
  overflow:auto;
  height:20em;
  width:180px;
}

/* .ja-schedule div {color:#bbb;overflow:auto;height:60px} */
.ja-schedule .yui3-ja-schedule-content>div>span {color:#bbb;}
.ja-schedule .yui3-ja-schedule-content>div>em {border:1px dotted #f00;}

.ja-schedule .ja-event-time {font-size:0.6em; padding-right:1em;}