/**
 *  /css/mod/about.css
 */

.jak-mod-about,
.jak-mod-about .yui3-tab-panel {overflow:auto;width:100% !important; /* ensure containment */ }

.jak-mod-about .jak-data-publicDetails {width:50em;}

.jak-mod-about .jak-loggedIn > label,
.jak-mod-about .jak-save {float:right;}

