/** 
 *  /css/mod/job.css
 */

.ja-mod-job,
.ja-mod-job .yui3-tab-panel {overflow:auto;width:100% !important; /* ensure containment */ }

.ja-mod-job .ja-data-streetRef,
.ja-mod-job .ja-data-job,
.ja-mod-job .ja-data-last-jobs {width:3em;}
.ja-mod-job .ja-data-locationName {width:9em;}
.ja-mod-job .ja-data-streetName   {width:9em;}
.ja-mod-job .ja-data-firstName,
.ja-mod-job .ja-data-lastName {width:7em;}
.ja-mod-job .ja-data-row-limit {width:2em;}
